h1 {
	color: #5eb7b7;
	font-size: 3.5em;
}

body {
	background-color: #dcefec;
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}

#submit-query {
	border-color: #fc7978;
	color: #fc7978;
	font-weight: bold;
	background-color: #ffe6e6;
}

.title {
	text-align: center;
}

.img img {
	 max-width:100%;
   height:auto;
}

.img { 
	max-width: 200px;
	text-align: center;
}

.cloth {
	margin: 15px 0;
}

.row {
  display: flex;
  align-items: center;
} 

.title a:hover {
    color: #000;
    text-decoration: none;
}

.title a {
    color: #000;
}