.title {
	text-align: center;
}

.img img {
	 max-width:100%;
   height:auto;
}

.img { 
	max-width: 200px;
	text-align: center;
}

.cloth {
	margin: 15px 0;
}

.row {
  display: flex;
  align-items: center;
} 