<html>
<head>
	<link href='{{url_for('static', filename='bootstrap.min.css')}}' rel='stylesheet' type='text/css'>
	<link href='{{url_for('static', filename='main.css')}}' rel='stylesheet' type='text/css'>
	<link href='{{url_for('static', filename='fontawesome/css/all.css')}}' rel='stylesheet' type='text/css'>
</head>

<body>
	<div position="relative">
		<div id="top-corner"><i class="fas fa-info-circle"></i>
		</div>
		<div id="about">
			WearElse helps you find where else you can buy a particular item!
		</div>
	</div>
	
	<div class="main">
		<img id="logo" src="{{url_for('static', filename='logo.jpg')}}" />
		<h1 class = "title"><a href="/"> WearElse </a></h1>
		<div class = "container">
			<br>
			<div class="search row">
				<div class = "col-xs-offset-2 col-xs-6">
					<input id="search-query" class="form-control" type="text" placeholder="What are you looking for?" aria-label="Search">
				</div>
				<div class = "col-xs-2">
					<input id = "submit-query" class="form-control" type="submit" value="Find it!" aria-label="Search">
				</div>
			</div>
		</div>
	</div>
	
</body>

<footer>
	<script src='js/bootstrap.min.js'></script>
	<script src='../my.js'></script>
	<script> 
	var button = document.getElementById("submit-query");
	button.onclick = function(){
		var query_string = document.getElementById("search-query").value
		console.log("{{ url_for('handle_data') }}?query=\'" + query_string+"\'");
		window.location.href = "{{ url_for('handle_data') }}?query=\'" + query_string+"\'";
	};

	var info = document.getElementById("top-corner");
	info.onmouseover = function() {
		document.getElementById('about').style.visibility="visible";
	}
	info.onmouseout = function() {
		document.getElementById('about').style.visibility="hidden";
	}
	</script>

</footer>


</html>