<html>
<head>
	<link href='{{url_for('static', filename='bootstrap.min.css')}}' rel='stylesheet' type='text/css'>
	<link href='{{url_for('static', filename='main.css')}}' rel='stylesheet' type='text/css'>
</head>

<body>
	<h1 class = "title"> WearElse </h1>
	<div class = "container">
		<!-- Search form -->
		<div class="search row">
			<div class = "col-md-10">
				<input id="search-query" class="form-control" type="text" placeholder="What are you looking for?" aria-label="Search">
			</div>
			<div class = "col-md-2">
				<input id = "submit-query" class="form-control" type="submit" placeholder="Find it!" aria-label="Search">
			</div>
		</div>
	</div>
</body>

<footer>
	<!--<script src='js/jquery-3.0.0.min.js'></script>
	<script src='js/jquery-ui-1.12.1.min.js'></script>
	<script src='js/bootstrap.min.js'></script>-->
	<script src='js/bootstrap.min.js'></script>
	<script src='../my.js'></script>
	<script> 
	var button = document.getElementById("submit-query");
	button.onclick = function(){
		var query_string = document.getElementById("search-query").value
		console.log("{{ url_for('handle_data') }}?query=\'" + query_string+"\'");
		window.location.href = "{{ url_for('handle_data') }}?query=\'" + query_string+"\'";
	};

	</script>

</footer>


</html>